@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h4>@ViewData["Title"]</h4>
<p>
    Please check your email to reset your password.
</p>
<div class="text-center">
    <a asp-action="Index" asp-controller="Home" id="forgotPasswordReturnHome" class="btn btn-sm btn-myGreen" style="margin-top:15px;">
        Log in <span class="fa fa-home"></span>
    </a>
</div>

