@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center" style="padding: 5px;">
    <div class="col-12" style="margin:auto; padding:0px;">
        <div class="registerUserDetails">
            <div class="Box-header d-flex justify-content-between">
                <div>
                    <p class="summaryHeader">Create a new account</p>
                </div>
            </div>

            <div style="padding:10px;">
                <div class="row">
                    <div class="col-12" style="padding-bottom:10px;">
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Input.Name"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.Name" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ProfileName"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.ProfileName" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.ProfileName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.DOB"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.DOB" class="form-control col-10 col-md-8" placeholder="mm/dd/yyyy" />
                                </div>
                                <span asp-validation-for="Input.DOB" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.Email" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmEmail"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.UserName" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.Password" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.ConfirmPassword" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-myBlueDark" style="margin-bottom:10px;">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>

</script>

