@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@*<h5>
    <span class="top-line"></span>
    <span class="text">Register</span>
</h5>*@

<div class="row justify-content-center" style="padding: 5px;">
    <div class="col-12" style="margin:auto; padding:0px;">
        <div class="registerUserDetails">
            <div class="Box-header d-flex justify-content-between">
                <div>
                    <p class="summaryHeader">Create a new account</p>
                </div>
            </div>

            <div style="padding:10px;">
                <div class="row">
                    <div class="col-12" style="padding-bottom:10px;">
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Input.Name"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.Name" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ProfileName"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.ProfileName" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.ProfileName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.DOB"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.DOB" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.DOB" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                <label asp-for="Input.Gender"></label>
                                <div class="d-flex justify-content-around">
                                    <select asp-for="Input.Gender" class="ignore form-control col-10 col-md-8">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.HeightFeet"></label>
                                <div class="d-flex justify-content-around">
                                    <div class="d-flex col-10 col-md-8" style="padding-left:0px; padding-right:0px;">
                                        <select asp-for="Input.HeightFeet" class="ignore form-control">
                                            <option disabled selected value=""> -- Feet -- </option>
                                            <option value="1">1 ft</option>
                                            <option value="2">2 ft</option>
                                            <option value="3">3 ft</option>
                                            <option value="4">4 ft</option>
                                            <option value="5">5 ft</option>
                                            <option value="6">6 ft</option>
                                            <option value="7">7 ft</option>
                                        </select>
                                        <select asp-for="Input.HeightInches" class="ignore form-control">
                                            <option disabled selected value=""> -- Inches -- </option>
                                            <option value="0">0 in</option>
                                            <option value="1">1 in</option>
                                            <option value="2">2 in</option>
                                            <option value="3">3 in</option>
                                            <option value="4">4 in</option>
                                            <option value="5">5 in</option>
                                            <option value="6">6 in</option>
                                            <option value="7">7 in</option>
                                            <option value="8">8 in</option>
                                            <option value="9">9 in</option>
                                            <option value="10">10 in</option>
                                            <option value="11">11 in</option>
                                        </select>
                                   </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Weight"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.Weight" class="ignore form-control col-10 col-md-8" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.DailyCalorieTarget"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.DailyCalorieTarget" class="ignore form-control col-10 col-md-8" />
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.Email" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmEmail"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.UserName" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.Password" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <div class="d-flex justify-content-around">
                                    <input asp-for="Input.ConfirmPassword" class="form-control col-10 col-md-8" />
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-myBlueDark" style="margin-bottom:10px;">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

