<table cellpadding="0" cellspacing="0" border="0" width="100%" style="table-layout:fixed; border-collapse:collapse; color:inherit; background-color:#ffffff; width:100%; min-width:600px;">
    <tbody>
        <tr>
            <td align="center" valign="top" style="padding-top:0px; padding-bottom:0px;">
                <table cellpadding="0" cellspacing="0" border="0" width="600px" style="table-layout:fixed; border-collapse:collapse;">
                    <tbody>
                        <tr>
                            <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0" width="600px" style="width:600px;">
                                    <tbody>
                                        <tr>
                                            <td align="left" style="background-color:#ebebeb; padding:15px 20px 15px 20px;">
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <th align="left" style="font-weight:normal; padding:0px; line-height:15px; color: #6f6f75;">
                                                                Your MacroNewt email verification
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table cellpadding="0" cellspacing="0" border="0" width="600px" style="width:600px;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="bottom" align="center" width="81" style="width:81px; background-color:#ffffff">
                                                                <table cellpadding="0" cellspacing="0" border="0" align="center">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <img src='cid:LogoImage' alt='siteLogo' title='Logo' style='max-width:150px; width:100%; margin:10px;' />
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0" width="600px">
                                    <tbody>
                                        <tr>
                                            <td align="left" style="padding:10px 20px 15px 20px;">
                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" style="font-size:16px; line-height:21px; color:#707070; font-weight:normal;">
                                                                {userName},<br />
                                                                Your MacroNewt account email is:<br />
                                                                {userEmail}
                                                            </td>
                                                        </tr>
                                                        <tr align="center">
                                                            <td align="center" style="padding-top:15px; padding-bottom:10px;">
                                                                <table align="left" cellpadding="0" cellspacing="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="45" width="100%">
                                                                                <a href="{callbackUrl}" style="display:inline-block; padding:15px 40px; background-color:#74b9d3; border:1px solid #74b9d3; border-radius:30px; color:#ffffff; font-size:16px; line-height:100%; text-decoration:none; text-align:center; ">
                                                                                    <strong style="font-weight:normal; text-decoration:none">Confirm&nbsp;Email</strong>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" style="font-size:16px; color: #707070; font-weight:normal; padding-top:5px; padding-bottom:0px; width:560px" width="560px">
                                                                This link will expire in 3 hours.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" style="font-size:16px; line-height:20px; color:#707070; font-weight:normal;">
                                                                <br />
                                                                <span style="font-weight:normal;">
                                                                    Can't click the button? Copy and paste this into your browser:
                                                                </span>
                                                                <br />
                                                                {callbackUrl}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
