@{
    ViewData["Title"] = "About";
}
<h3 class="text-center blueTextColor">@ViewData["Title"]</h3>
<div>
    <p>
        This web app was created by Evan Smith for the purpose of learning.
    </p>
    <br />
    <p>This site uses the USDA Food Products Database:</p>
    <br />
    <ul>
        <li>
            U.S. Department of Agriculture, Agricultural Research Service. 20xx. USDA National Nutrient Database for Standard Reference, Release .
            Nutrient Data Laboratory Home Page, http://www.ars.usda.gov/nutrientdata
        </li>
        <li>
            U.S. Department of Agriculture, Agricultural Research Service. 20xx. USDA Branded Food Products Database .
            Nutrient Data Laboratory Home Page, http://ndb.nal.usda.gov
        </li>
    </ul>
</div>
