@{
    ViewData["Title"] = "Privacy Policy";
}
<h4 class="text-center blackHeaderFont">@ViewData["Title"]</h4>

<div class="text-center">
    <p>Not much to say here. No personal information is intentionally collected other than your account credentials and data. Nothing is intentionally shared.</p>
</div>
