
<div id="visContainer" style="visibility:hidden;">
    <div class="justify-content-center" style="text-align:center; padding-top:7px;">
        <h5 style="color:#5bc0de">Log a New Meal</h5>
    </div>
    <div id="smartwizard" class="container-fluid">
        <ul class="justify-content-center">
            <li class="firstStep"><a href="#AddFoods">1<br /><small>Search Foods</small></a></li>
            <li><a href="#MealDetails">2<br /><small>Meal Details</small></a></li>
            <li><a href="#ReviewMeal">3<br /><small>Review</small></a></li>
        </ul>
        <div>
            <div id="AddFoods">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <div class="currentMeal">
                            <div class="Box-header d-flex justify-content-between">
                                <div>
                                    <strong class="currentMealShortHeader" id="currentMealShortText">Current Foods:</strong>
                                    <strong class="currentMealHeader" id="currentMealLongText">Current Foods in this Meal:</strong>
                                    <small style="color:red" id="addFoodPageMessage"></small>
                                </div>
                                <div>
                                    <button href="#" id="relogPreviousMeal" class="btn btn-sm btn-myGreen" style="display:block">
                                        Previous Meals
                                        <span class="fa fa-history fa-fw" aria-hidden="true"></span>
                                    </button>
                                    <button href="#" id="addFoodsNext" class="btn btn-sm btn-myGreen" style="display:none">
                                        Next
                                        <span class="fa fa-arrow-right fa-fw" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="currentMealFoodsBox">
                                <table class="table foodTable table-borderless table-hover" id="currentFoods">
                                    <tbody>
                                        <tr id="NoFoodsRow">
                                            <td colspan="2" style="text-align:center">
                                                No Foods Selected
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="oldMealsModalContainer">

                </div>


                <div id="databaseNoticeModalContainer">
                    <div class="modal fade" id="databaseNoticeModal" role="dialog">
                        <div class="modal-dialog vertical-align-center">
                            <div class="modal-content databaseNoticeModalSizing">


                                <div class="databaseNotice">
                                    <div class="Box-header d-flex justify-content-center databaseNoticeHeaderFont">
                                        Please Note
                                    </div>
                                    <div style="margin:10px;">
                                        <span>
                                            Due to the large number of items in the branded database and a search result limit of 1500,
                                            unspecific searches may result in the exclusion of food items.
                                        </span><br />
                                        <br />
                                        <span>
                                            You can try searching UPC codes for exact product matches if available.
                                        </span>
                                    </div>
                                    <div style="margin:0px 10px 10px 0px; float:right;">
                                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" data-target="#databaseNoticeModal">
                                            Close
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center" style="margin-bottom:15px;">
                    <div class="form-row col-12 col-sm-6 col-lg-4">
                        <select class="form-control targetDatabase" id="targetDatabase">
                            <option value="Standard">Database: Standard Reference</option>
                            <option value="Branded">Database: Branded Food Products</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-bottom:30px;">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="input-group">
                            <input type="text" id="searchString" name="foodName" class="form-control" placeholder="e.g. 'Chicken' " aria-label="Input group example" aria-describedby="btnGroupAddon">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-myBlueDark" id="searchFoods"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="waitSpinnerContainer">

                    <div class="modal" id="waitSpinnerModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="text-center">
                                        <strong class="modalTitle">Fetching results, please wait</strong>
                                        <p class="modalMessage"></p>
                                    </div>
                                    <div class="text-center">
                                        <div class="spinner-border text-primary" style="margin-top:15px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="getDetailWaitSpinnerContainer">

                    <div class="modal" id="getDetailWaitSpinnerModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="text-center">
                                        <strong class="modalTitle">Working, please wait</strong>
                                        <p class="modalMessage"></p>
                                    </div>
                                    <div class="text-center">
                                        <div class="spinner-border text-primary" style="margin-top:15px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="foodAddedModalContainer">
                    <div class="modal fade" id="foodAddedModal" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content fAModal">

                                <div>
                                    <div class="Box-header d-flex justify-content-center">
                                        <span style="color:green;">Food added successfully</span>
                                    </div>
                                    <div class="d-flex justify-content-around" style="margin:10px 0 10px 0;">
                                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" data-target="#foodAddedModal">
                                            Keep browsing
                                        </button>
                                        <button type="button" id="newSearchButton" class="btn btn-sm btn-myBlueDark" data-dismiss="modal" data-target="#foodAddedModal">
                                            New Search
                                        </button>
                                        <button type="button" id="nextStepButton" class="btn btn-sm btn-myGreen" data-dismiss="modal" data-target="#foodAddedModal">
                                            Next Step
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div id="backToTopCell">
                    <button onclick="backToTop()" id="backToTopButton">Back to Top</button>
                    <button onclick="newSearch()" id="newSearchFloatingButton">New Search</button>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8" id="searchContainer">

                    </div>
                </div>
            </div>
            <div id="MealDetails">
                <div id="componentContainer">

                </div>
                <div id="confirmContainer">

                </div>
            </div>
            <div id="ReviewMeal">
                <div id="reviewComponentContainer">

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("url is " + window.location); 

        checkProperPageLoad();

        $('#smartwizard').smartWizard({
            theme: 'circles',
            keyNavigation: false,
            anchorSettings: {
                markDoneStep: true,
                enableAnchorOnDoneStep: false
            },
            toolbarSettings: {
                toolbarPosition: 'none',                
            }
        });

        document.getElementById("searchFoods").addEventListener('click', handleSearchFoodsClick, false);
        document.getElementById("relogPreviousMeal").addEventListener('click', showOldMealsModal, false);
        document.getElementById("addFoodsNext").addEventListener('click', handleAddFoodsNextClick, false);
        document.getElementById("visContainer").style.visibility = "visible";
        document.addEventListener("keyup", function (e) {
            if (e.keyCode === 13) {
                handleSearchFoodsClick();
            }
        });

        $('#newSearchButton').click(newSearch);

        $('#nextStepButton').click(handleAddFoodsNextClick);

        $(".targetDatabase").change(function () {
            if ($(this).val() == 'Branded') {
                $('#databaseNoticeModal').modal('toggle');
                $('#searchString').attr("placeholder", "e.g. '011110024527'")
            }
            else {
                $('#searchString').attr("placeholder", "e.g. 'Chicken'")
            }
        });
    })


    window.onscroll = function () { scrollFunction() };

    function checkProperPageLoad() {
        var getUrl = window.location;
        var getUrlString = getUrl.href;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
        var arr = getUrlString.split("Logger");
        
        if (arr[1] == "#MealDetails" || arr[1] == "#ReviewMeal") {
            window.location.replace(baseUrl + "Logger");
        }
    }

    function showOldMealsModal() {
        $('#waitSpinnerModal').modal('toggle');

        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";

        var container = $("#oldMealsModalContainer").empty();
        //$.get('/Meals/GetOldMealsModal', function (result) {
        $.get(baseUrl + 'Meals/GetOldMealsModal', function (result) {
            container.html(result);
            $('#waitSpinnerModal').modal('hide');
        });
    }
    
</script>