@{
    ViewData["Title"] = "Logger";
}
<h2>Logger</h2>
<hr />

<div id="smartwizard" class="container-fluid">
    <ul style="padding-bottom: 15px">
        <li><a href="#AddFoods">Select Foods<br /><small>Search/Add foods to Meal.</small></a></li>
        <li><a href="#MealDetails">Meal Details<br /><small>Provide Meal Details</small></a></li>
        <li><a href="#ReviewMeal">Review Meal<br /><small>Review details for your meal and submit.</small></a></li>
    </ul>
    <div>
        <div id="AddFoods">
            <div class="row">
                <div class="col">
                    <div class="col-xs-12 col-lg-6">
                        <h6 style="color:red" id="addFoodPageMessage"></h6>
                        <table class="table foodTable table-borderless table-hover" id="currentFoods">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Current Foods in your meal:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="NoFoodsRow">
                                    <td></td>
                                    <td>
                                        No Foods Selected
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr id="submitMealButtonRow" style="display:none">
                                    <td colspan="2" style="text-align:right">
                                        <input type="button" id="submitMealButton" value="Submit Meal" class="btn btn-success" />
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <p>
                        Search for food: <input type="text" name="foodName" id="searchString" />
                        <button class="btn btn-primary" id="searchFoods">Search</button>
                    </p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col" id="searchContainer">

                </div>
            </div>
        </div>
        <div id="MealDetails">
            <h3>Stuff and Things.</h3>
        </div>
    </div>
</div>

