@section  Head{ 
    <link href="~/css/simpleCalendar.css" rel="stylesheet" />
}

<div id="visContainer" style="visibility:hidden; margin:5px;">

    <h5>
        <span class="top-line"></span>
        <span class="text">History</span>
    </h5>

    <p class="AsteriskNote text-center">
        Click on any day to see meal details, daily stats, and to edit or delete past meals. 
        Daily calorie goals were met on days in green and not met on days in red. 
    </p>

    <div id="calHistory" class="tab-pane active">
        <div id="calendarContainer" class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="calendar" id="calendar">
                    <!-- Calendar toolbar -->
                    <div class="calendar-toolbar calToolbar">
                        <!-- Calendar "today" button -->
                        <button data-toggle="calendar" data-action="today" class="btn btn-default greenTextColor">
                            Today
                        </button>
                        <!-- Calendar "prev" button -->
                        <button data-toggle="calendar" data-action="prev" class="btn btn-default">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <!-- Calendar "date-indicator" span -->
                        <div class="calendar-current-date blueDateTextColor"
                             data-day-format="MM/DD/YYYY"
                             data-week-format="MM/DD/YYYY"
                             data-month-format="MMMM, YYYY">
                        </div>
                        <!-- Calendar "next" button -->
                        <button data-toggle="calendar" data-action="next" class="btn btn-default">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="calendarModalContainer">

        </div>
    </div>

    <div id="waitSpinnerContainer">

        <div class="modal" id="waitSpinnerModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <strong class="modalTitle">Fetching results, please wait</strong>
                            <p class="modalMessage"></p>
                        </div>
                        <div class="text-center">
                            <div class="spinner-border text-primary" style="margin-top:15px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="deleteMealContainer">

    </div>

</div>

@section  scripts{ 
<script src="~/js/simpleCalendar.js" type="text/javascript"></script>
}

<script>
    $(document).ready(function () {
        document.getElementById("visContainer").style.visibility = "visible";

        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
        $('#calendar').calendar();
    });

    function dayClick(e) {
        var dateParts = e.target.getAttribute("data-date").split('/');

        $.get("/Meals/GetDayMealInfo", { month: dateParts[0], day: dateParts[1], year: dateParts[2] }, function (response) {

            var container = $("#calendarModalContainer").empty();
            container.html(response);
        })
    }
</script>
