@model FiTrack.Models.ViewModels.FoodViewModel;

<h1>Please fill out the following meal details</h1>


<form>

    <table>

        <tr>
            <th>Food</th>
            <th>Portion</th>
        </tr>

       

        @foreach (var fItem in Model.Foods)
        {
        <tr>
            <td style="padding-right: 20px">
                <label class="compLabels" for="@fItem.Name">
                    @fItem.Name  || @fItem.Value @fItem.Unit ||
                </label>
            </td>
            <td>
                <select>
                    <option value="1oz">100 grams</option>
                    <option value="2oz">200 grams</option>
                </select>
            </td>
        </tr>
        }

    </table>
    
    <br />
    <br />

    <label for="mealtime">Date and Time</label>
    <input type="datetime-local" name="mealtime">
    <input type="submit" value="Submit Meal">

</form>