@{
    ViewData["Title"] = "LogMeal";
}

<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    
    <body>
        <h2>Meals</h2>

        <p>This is the meals logging page</p>
    </body>

</html>


