@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-10" style="padding-bottom:10px;">
        <span id="unSavedChangesMessage" class="text-danger font-weight-light" style="display:none;">Click the save button to have changes remembered</span>
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.ProfileName"></label>
                <input asp-for="Input.ProfileName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <span class="input-group-addon" aria-hidden="true"><span class="fa fa-check-circle"></span></span>
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn blueLinks">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.DOB"></label>
                    <input asp-for="Input.DOB" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Gender"></label>
                    <select asp-for="Input.Gender" class="form-control">
                        <option disabled selected value=null> -- Select -- </option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Input.HeightFeet"></label>
                    <div class="d-flex">
                        <select asp-for="Input.HeightFeet" id="feetSelect" class="form-control">
                            <option selected value="-1"> -- Feet -- </option>
                            <option value="1">1 ft</option>
                            <option value="2">2 ft</option>
                            <option value="3">3 ft</option>
                            <option value="4">4 ft</option>
                            <option value="5">5 ft</option>
                            <option value="6">6 ft</option>
                            <option value="7">7 ft</option>
                        </select>
                        <select asp-for="Input.HeightInches" id="inchSelect" class="form-control">
                            <option selected value="-1"> -- Inches -- </option>
                            <option value="0">0 in</option>
                            <option value="1">1 in</option>
                            <option value="2">2 in</option>
                            <option value="3">3 in</option>
                            <option value="4">4 in</option>
                            <option value="5">5 in</option>
                            <option value="6">6 in</option>
                            <option value="7">7 in</option>
                            <option value="8">8 in</option>
                            <option value="9">9 in</option>
                            <option value="10">10 in</option>
                            <option value="11">11 in</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Weight"></label>
                    <input asp-for="Input.Weight" type="number" step="1" min="0" class="form-control" />
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-myBlueDark">Save</button>
            <button id="cancelChangesButton" type="button" class="btn btn-sm btn-mySelectedGray" style="display:none;">Cancel</button>
        </form>
    </div>
</div>

<script>

    $(document).ready(function() {
        $('#profile-form').on('change keyup', function () {
            $('#unSavedChangesMessage').show();
            $('#cancelChangesButton').css('display', 'inline-block');
        });

        $('#cancelChangesButton').click(function () {
            window.location.reload(true);
        });
    });

</script>
