.calendar-toolbar {
    margin-bottom: 10px;
}

.calendar-month-row {
    height: 75px;
}

.calendar-prior-months-date {
    color: #DDD;
}

.calendar-current-date {
    text-align: center;
    display: inline-block;
    width: 115px;
}

.calendar-month-row td.overCal {
    background-color: red;
    background-image: linear-gradient(45deg, #FF6961, white);
}
.calendar-month-row td.underCal {
    background-color: green;
    background-image: linear-gradient(45deg, #77DD77, white);
}