<div id="visContainer" style="margin:5px;">

    <h5>
        <span class="top-line"></span>
        <span class="text">Admin Dashboard</span>
    </h5>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8" style="margin:auto; padding:0px;">
            <div class="AdminControlBox">
                <div class="Box-header d-flex justify-content-between">
                    <div>
                        <p class="summaryHeader">Choose Action</p>
                    </div>
                </div>

                <div>
                    <div class="row justify-content-center" style="margin:10px;">
                        <a class="btn btn-small btn-myBlueDark" asp-action="ManageMeals">Manage Meals</a>
                    </div>
                    <div class="row justify-content-center" style="margin:10px;">
                        <a class="btn btn-small btn-myBlueDark" asp-action="ManageUsers">Manage Users</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>